# Ignore vscode files
**/.vscode

# Ignore Terraform files
**/*.tfstate
**/*.tfstate.backup
**/*.tfvars
**/*.terraform/
**/*.terraform.lock.hcl

# Ignore Python non-essential files
**/*.pyc
**/__pycache__/
**/*.egg-info/
**/dist/
**/build/
